In [2]:
import polars as pl

data = pl.DataFrame({'Group':['a', 'a', 'b', 'b', 'b', 'c', 'c', 'c',],
                     'Data' :[5, 3, 4, 1, 2, 3, 5, 3]})
data

shape: (8, 2)
┌───────┬──────┐
│ Group ┆ Data │
│ ---   ┆ ---  │
│ str   ┆ i64  │
╞═══════╪══════╡
│ a     ┆ 5    │
│ a     ┆ 3    │
│ b     ┆ 4    │
│ b     ┆ 1    │
│ b     ┆ 2    │
│ c     ┆ 3    │
│ c     ┆ 5    │
│ c     ┆ 3    │
└───────┴──────┘

In [12]:
data.with_columns(new = pl.col('Data').mean().over('Group'))

shape: (8, 3)
┌───────┬──────┬──────────┐
│ Group ┆ Data ┆ new      │
│ ---   ┆ ---  ┆ ---      │
│ str   ┆ i64  ┆ f64      │
╞═══════╪══════╪══════════╡
│ a     ┆ 5    ┆ 4.0      │
│ a     ┆ 3    ┆ 4.0      │
│ b     ┆ 4    ┆ 2.333333 │
│ b     ┆ 1    ┆ 2.333333 │
│ b     ┆ 2    ┆ 2.333333 │
│ c     ┆ 3    ┆ 3.666667 │
│ c     ┆ 5    ┆ 3.666667 │
│ c     ┆ 3    ┆ 3.666667 │
└───────┴──────┴──────────┘

In [28]:
data.with_columns(new = pl.mean('Data').over('Group'))

shape: (8, 3)
┌───────┬──────┬──────────┐
│ Group ┆ Data ┆ new      │
│ ---   ┆ ---  ┆ ---      │
│ str   ┆ i64  ┆ f64      │
╞═══════╪══════╪══════════╡
│ a     ┆ 5    ┆ 4.0      │
│ a     ┆ 3    ┆ 4.0      │
│ b     ┆ 4    ┆ 2.333333 │
│ b     ┆ 1    ┆ 2.333333 │
│ b     ┆ 2    ┆ 2.333333 │
│ c     ┆ 3    ┆ 3.666667 │
│ c     ┆ 5    ┆ 3.666667 │
│ c     ┆ 3    ┆ 3.666667 │
└───────┴──────┴──────────┘

In [29]:
data.with_columns(new = pl.col('Data').over('Group').mean())

shape: (8, 3)
┌───────┬──────┬──────┐
│ Group ┆ Data ┆ new  │
│ ---   ┆ ---  ┆ ---  │
│ str   ┆ i64  ┆ f64  │
╞═══════╪══════╪══════╡
│ a     ┆ 5    ┆ 3.25 │
│ a     ┆ 3    ┆ 3.25 │
│ b     ┆ 4    ┆ 3.25 │
│ b     ┆ 1    ┆ 3.25 │
│ b     ┆ 2    ┆ 3.25 │
│ c     ┆ 3    ┆ 3.25 │
│ c     ┆ 5    ┆ 3.25 │
│ c     ┆ 3    ┆ 3.25 │
└───────┴──────┴──────┘

In [30]:
data.with_columns(new = pl.col('Data').mean())

shape: (8, 3)
┌───────┬──────┬──────┐
│ Group ┆ Data ┆ new  │
│ ---   ┆ ---  ┆ ---  │
│ str   ┆ i64  ┆ f64  │
╞═══════╪══════╪══════╡
│ a     ┆ 5    ┆ 3.25 │
│ a     ┆ 3    ┆ 3.25 │
│ b     ┆ 4    ┆ 3.25 │
│ b     ┆ 1    ┆ 3.25 │
│ b     ┆ 2    ┆ 3.25 │
│ c     ┆ 3    ┆ 3.25 │
│ c     ┆ 5    ┆ 3.25 │
│ c     ┆ 3    ┆ 3.25 │
└───────┴──────┴──────┘

In [32]:
data.with_columns(new = pl.mean('Data'))

shape: (8, 3)
┌───────┬──────┬──────┐
│ Group ┆ Data ┆ new  │
│ ---   ┆ ---  ┆ ---  │
│ str   ┆ i64  ┆ f64  │
╞═══════╪══════╪══════╡
│ a     ┆ 5    ┆ 3.25 │
│ a     ┆ 3    ┆ 3.25 │
│ b     ┆ 4    ┆ 3.25 │
│ b     ┆ 1    ┆ 3.25 │
│ b     ┆ 2    ┆ 3.25 │
│ c     ┆ 3    ┆ 3.25 │
│ c     ┆ 5    ┆ 3.25 │
│ c     ┆ 3    ┆ 3.25 │
└───────┴──────┴──────┘

In [33]:
data.with_columns(new = pl.max('Data').over('Group'))

shape: (8, 3)
┌───────┬──────┬─────┐
│ Group ┆ Data ┆ new │
│ ---   ┆ ---  ┆ --- │
│ str   ┆ i64  ┆ i64 │
╞═══════╪══════╪═════╡
│ a     ┆ 5    ┆ 5   │
│ a     ┆ 3    ┆ 5   │
│ b     ┆ 4    ┆ 4   │
│ b     ┆ 1    ┆ 4   │
│ b     ┆ 2    ┆ 4   │
│ c     ┆ 3    ┆ 5   │
│ c     ┆ 5    ┆ 5   │
│ c     ┆ 3    ┆ 5   │
└───────┴──────┴─────┘

In [34]:
data.with_columns(new = pl.col('Data').max().over('Group'))

shape: (8, 3)
┌───────┬──────┬─────┐
│ Group ┆ Data ┆ new │
│ ---   ┆ ---  ┆ --- │
│ str   ┆ i64  ┆ i64 │
╞═══════╪══════╪═════╡
│ a     ┆ 5    ┆ 5   │
│ a     ┆ 3    ┆ 5   │
│ b     ┆ 4    ┆ 4   │
│ b     ┆ 1    ┆ 4   │
│ b     ┆ 2    ┆ 4   │
│ c     ┆ 3    ┆ 5   │
│ c     ┆ 5    ┆ 5   │
│ c     ┆ 3    ┆ 5   │
└───────┴──────┴─────┘

In [35]:
data.with_columns(new = pl.col('Data').over('Group').max())

shape: (8, 3)
┌───────┬──────┬─────┐
│ Group ┆ Data ┆ new │
│ ---   ┆ ---  ┆ --- │
│ str   ┆ i64  ┆ i64 │
╞═══════╪══════╪═════╡
│ a     ┆ 5    ┆ 5   │
│ a     ┆ 3    ┆ 5   │
│ b     ┆ 4    ┆ 5   │
│ b     ┆ 1    ┆ 5   │
│ b     ┆ 2    ┆ 5   │
│ c     ┆ 3    ┆ 5   │
│ c     ┆ 5    ┆ 5   │
│ c     ┆ 3    ┆ 5   │
└───────┴──────┴─────┘

In [36]:
data.with_columns(new = pl.col('Data').max())

shape: (8, 3)
┌───────┬──────┬─────┐
│ Group ┆ Data ┆ new │
│ ---   ┆ ---  ┆ --- │
│ str   ┆ i64  ┆ i64 │
╞═══════╪══════╪═════╡
│ a     ┆ 5    ┆ 5   │
│ a     ┆ 3    ┆ 5   │
│ b     ┆ 4    ┆ 5   │
│ b     ┆ 1    ┆ 5   │
│ b     ┆ 2    ┆ 5   │
│ c     ┆ 3    ┆ 5   │
│ c     ┆ 5    ┆ 5   │
│ c     ┆ 3    ┆ 5   │
└───────┴──────┴─────┘

In [37]:
data.with_columns(new = pl.max('Data'))

shape: (8, 3)
┌───────┬──────┬─────┐
│ Group ┆ Data ┆ new │
│ ---   ┆ ---  ┆ --- │
│ str   ┆ i64  ┆ i64 │
╞═══════╪══════╪═════╡
│ a     ┆ 5    ┆ 5   │
│ a     ┆ 3    ┆ 5   │
│ b     ┆ 4    ┆ 5   │
│ b     ┆ 1    ┆ 5   │
│ b     ┆ 2    ┆ 5   │
│ c     ┆ 3    ┆ 5   │
│ c     ┆ 5    ┆ 5   │
│ c     ┆ 3    ┆ 5   │
└───────┴──────┴─────┘

In [39]:
data.select(pl.mean('Data').alias('new'))

shape: (1, 1)
┌──────┐
│ new  │
│ ---  │
│ f64  │
╞══════╡
│ 3.25 │
└──────┘

In [41]:
data.group_by('Group').agg(new = pl.mean('Data'))

shape: (3, 2)
┌───────┬──────────┐
│ Group ┆ new      │
│ ---   ┆ ---      │
│ str   ┆ f64      │
╞═══════╪══════════╡
│ b     ┆ 2.333333 │
│ a     ┆ 4.0      │
│ c     ┆ 3.666667 │
└───────┴──────────┘

In [42]:
data.group_by('Group').agg(new = pl.col('Data').mean())

shape: (3, 2)
┌───────┬──────────┐
│ Group ┆ new      │
│ ---   ┆ ---      │
│ str   ┆ f64      │
╞═══════╪══════════╡
│ c     ┆ 3.666667 │
│ a     ┆ 4.0      │
│ b     ┆ 2.333333 │
└───────┴──────────┘